APP_PORT=8080
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=wayt_svc
DB_PASSWORD=Password0!
DB_NAME=wayt

INTERNAL_API_KEY=your-secret-internal-key

QR_STORAGE_PATH=./storage/qr
QR_BASE_URL=http://localhost:8080/storage/qr
QR_EXPIRED_HOURS=24
PUBLIC_BASE_URL=http://localhost:8080