APP_PORT=8080
APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=wayt_svc
DB_PASSWORD=
DB_NAME=wayt

JWT_SECRET=change-this-to-a-long-random-string
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

QR_STORAGE_PATH=./storage/qr
QR_BASE_URL=http://localhost:8080/storage/qr
QR_EXPIRED_HOURS=24
PUBLIC_BASE_URL=http://localhost:8080
